.gradle/
.settings/
.vscode/
build/
bin/
target/
node_modules/
.project
.classpath

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.externalToolBuilders/
